@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: 'Poppins', sans-serif;
	font-size: calc(8px + 2vmin);
}

.container {
	padding: 20px 32px;
	min-width: 750px;

	border-radius: 20px;
	box-shadow: 1px 2px 6px #cccccc;
}

.btn {
	min-width: 80px;
	height: 42px;

	font-size: 16px;
	font-weight: 500;
	color: rgb(48, 48, 48);

	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 6px #cfcfcf;

	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.icon {
	width: 16px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.click:active {
	transform: scale(0.88);
}